.wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  /* box-shadow: 0px 2px 0px 0px #b5b3b3; */
  position: relative;
  margin-top: 0.5em;
  flex: 1 0 auto;
  -webkit-flex: 1 0 auto;
}
.user-image {
  width: 150px;
  height: 150px;
  text-align: center;
  background: #586677;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
}
@media (min-width: 481px) and (max-width: 1023px) {
  .user-image {
    width: 75px;
    height: 75px;
  }
  .user-image-initials {
    top: 18.75px !important; /* 25% of parent */
    font-size: 37.5px !important; /* 50% of parent */
    line-height: 37.5px !important; /* 50% of parent */
  }
}
.user-image-initials {
  position: relative;
  top: 37.5px; /* 25% of parent */
  font-size: 75px; /* 50% of parent */
  line-height: 75px; /* 50% of parent */
  color: #fff;
  font-weight: bold;
}
.user-info {
  align-items: baseline;
}
.user-avatar {
  align-items: center;
}
