html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
html {
  height: 100%;
}
body {
  display: flex;
  flex-direction: column;
  height: 100vh; /* Avoid the IE 10-11 `min-height` bug. */
  line-height: 1em;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input,
button,
a {
  outline: none !important;
  box-shadow: none !important;
}
a:hover,
a:active,
a:focus {
  outline: none !important;
  box-shadow: none !important;
  text-decoration: none !important;
}

.form-control:focus {
  overflow: auto;
  outline: none;

  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

button {
  border: none !important;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
li,
p,
blockquote {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
}
a {
  color: #424243;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
  cursor: pointer;
}
.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}

.column-10 {
  flex-basis: 10%;
}
.column-20 {
  flex-basis: 20%;
}
.column-30 {
  flex-basis: 30%;
}
.column-40 {
  flex-basis: 40%;
}
.column-50 {
  flex-basis: 50%;
}
.column-60 {
  flex-basis: 60%;
}
.column-70 {
  flex-basis: 70%;
}
.column-80 {
  flex-basis: 80%;
}
.column-90 {
  flex-basis: 90%;
}

@media (min-width: 481px) and (max-width: 1024px) {
  .md-column {
    flex-basis: 100%;
  }
  .md-column-10 {
    flex-basis: 10%;
  }
  .md-column-20 {
    flex-basis: 20%;
  }
  .md-column-30 {
    flex-basis: 30%;
  }
  .md-column-40 {
    flex-basis: 40%;
  }
  .md-column-50 {
    flex-basis: 50%;
  }
  .md-column-60 {
    flex-basis: 60%;
  }
  .md-column-70 {
    flex-basis: 70%;
  }
  .md-column-80 {
    flex-basis: 80%;
  }
  .md-column-90 {
    flex-basis: 90%;
  }
}
@media (min-width: 320px) and (max-width: 480px) {
  .sm-column {
    flex-basis: 100%;
  }
  .sm-column-10 {
    flex-basis: 10%;
  }
  .sm-column-20 {
    flex-basis: 20%;
  }
  .sm-column-30 {
    flex-basis: 30%;
  }
  .sm-column-40 {
    flex-basis: 40%;
  }
  .sm-column-50 {
    flex-basis: 50%;
  }
  .sm-column-60 {
    flex-basis: 60%;
  }
  .sm-column-70 {
    flex-basis: 70%;
  }
  .sm-column-80 {
    flex-basis: 80%;
  }
  .sm-column-90 {
    flex-basis: 90%;
  }
}
